<div style="text-align:center">

    <h1>Welcome to Jeopardy!!</h1>
    <h1>The Question is: {{questionInfo?.question}}</h1>
    <h1>The Category is: {{questionInfo?.category.title}}</h1>
    <h1>The Point Value is: {{questionInfo?.value}}</h1>
    <h1>Your Score is: {{ scoreKeeper.usersScore }}</h1>
    
        <h1>The Answer is: {{ questionInfo?.answer }}</h1>
    

    <app-editjeopardy #scoreKeeper (answerHasBeenScored)="getDataFromService()" [questionInfo]="questionInfo">
    </app-editjeopardy>